h2 {
    color: rgb(87, 216, 173);
    font-size: 60px;
    text-align: center;
}
p{
    font-size: 30px;
    text-align: center;
}
h3{
    color: rgb(87, 216, 173);
    font-size: 40px;
}
ul{
    font-size: 30px;
}