h1 {
    color: rgb(32, 32, 32);
    font-size: 70px;
    text-align: center;}
  
   

    p{
    font-size: 30px;
    margin: 10px;
    
}


#nav-bar {
    overflow: hidden;
              background-color:#005073;
            
  }
  
  #nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    #nav-bar ul {
      display: none;
      flex-direction: column;
      width: 100%;
    }
    .container {
      margin: 15px;
      padding: 10px;
    }
    .span-container {
      padding: 10px;
      margin: 10px;
    }
    .tittle {
      font-size: 35px;
    }
    p {
      font-size: small;
    }
    .icon {
      padding: 20px;
    }
    #nav-bar ul.show {
      display: flex;
    }
  
    #nav-bar li {
      width: 100%;
    }
  
    .menu-icon {
      display: flex;
    }
  }
  





          
      








    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f4f4f4;
        padding-top: 20px;
    }
    

    
    img {
        width: 400px;
        max-height: 400px;
    }
    
    .carousel {
        position: relative;
        width: 80%;
        max-width: 600px;

        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        margin-top: 20px;
    }
    
    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;
    }
    
    .carousel-item {
        min-width: 100%;
        transition: opacity 1s ease;
    }
    
    .carousel-item img {
        width: 100%;
        display: block;
    }
    
    .carousel-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0,0,0,0.5);
        border: none;
        color: white;
        padding: 10px;
        cursor: pointer;
        font-size: 24px;
        z-index: 1;
    }
    
    .prev {
        left: 10px;
    }
    
    .next {
        right: 10px;
    }


    .btn {
        background-color: rgb(160, 61, 119);
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 20px;
        
        border-radius: 15px;
        transition: background-color 0.3s ease;
    }
    
    .btn:hover {
        background-color: rgb(122, 131, 128);
    }

    .btn {
        padding: 15px 15px;
        margin: 20px 0;
        max-width: 300px;
        border: none;
        border-radius: 10px;
        background-color: #f46959d6;
        cursor: pointer;
        color:white;
      
      
      }
    

  