* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
 
}
body {
  background-color:rgb(200, 200, 200);
}
ul {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
li {

  list-style: none;
  border-radius:5px;
  cursor: pointer;
}
li:hover{
  background-color: rgba(171, 168, 168, 0.327);
}
li > a {
  text-decoration: none;
  color: rgb(234, 255, 229);
  font-size: 1em;
  display: block; 
  padding: 15px;
 
}
.tittle{
  font-size: 3em;
  text-align: center;
}
.container {

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./../assets/fondo-span.png");
  background-size: cover; /* Ajusta la imagen para cubrir toda el área */
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(39, 60, 47, 0.5);
  margin: 15px;
  padding: 150px 15px;
}
.btn {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgb(91, 113, 211);
  cursor: pointer;
  margin: 10px;
}
.btn > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
#nav-bar{
  background-color:rgba(66, 60, 60, 0.695);
}
